{% extends "Blog/base.html" %}
{% block content %}
<div>
    <div class="titulo_index">
        <h1> Ultimas publicaciones</h1>
    </div>
    <br>
    {% if messages %}
        {% for mensaje in messages %}
            <div class="alert alert-success col-4 md-8" role="alert">
                {{mensaje}}
            </div>
        {% endfor %}
    {% endif %}
    {% for publicacion in publicacionesLlave %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{publicacion.autor}}</a>
            <small class="text-muted">{{publicacion.fecha}}</small>
          </div>
          <h2><a class="article-title" href="{% url 'publicacion-detalle' publicacion.id %}">{{publicacion.titulo}}</a></h2>
          <p class="article-content">{{publicacion.contenido}}</p>
        </div>
        <a href="{% url 'publicacion-actualizar' publicacion.id%}"> Actualizar publicacion</a>
        <a style="color: red;" href="{% url 'publicacion-eliminar' publicacion.id%}"> Borrar publicacion</a>
        <a href="{% url 'crear_comentario' publicacion_id=publicacion.id %}"> Crear Comentario</a>
      </article>
    {% endfor %}
    
</div>
{% endblock content %}